.container{
  width: 375px;
  height: 811px;
  position: relative;

}
.img{
  width: 90px;
  height: 75px;
  border-radius: 10%;
  box-shadow: 2px 5px 10px grey;
  cursor: pointer;
}
.img-2{
  width: 30px;
  height: 30px;
  border-radius: 10%;
  box-shadow: 2px 2px 5px grey;
  cursor: pointer;
}
.para{
  padding: 1em;
}
.card{
  border-radius:2%;
  box-shadow: 2px 5px 10px grey ;
  padding: 0.4em;
  
}
.mainBtn{
  border-radius: 30%;
  height: 15px;
  background-color: white;
  border: 1px solid red;
  width: 100%;
  margin: 0%;
  font-size: 0.4em;
 
}
.btn{
  margin: 0%;
  padding: 0.1em;
  margin-top:-0.5em;
  
}
.btn1{
  background-color: white;
  border: 1px solid red;
  border-radius: 30%;
  width: 100%;
  font-size: 0.6em;
  font-weight: bolder;

}
.place{
  font-size: 10px;
}
.flex{
  display:inline-block;
  padding-right: 1em;
}
.offer{
  background-color: white;
  padding:1em 0.2em;
  margin: 0.2em;
  border-radius: 10%;
  border: 2px solid grey;
}
.items{
  font-size: 1em;
  margin: 1em;
}